:host {
     /*display: block;*/
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-flex: 1;
     -ms-flex: 1;
     flex: 1;
 }

:host[responsive] {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#chart {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#chart[responsive] {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}